.inline-block {
    display: inline-block;
    vertical-align: top;
    
}

.logo {
    width: 50%;
    padding: 1%;
    text-align: center;
}

nav {
    background-color: rgb(180, 180, 180);
    width:72%;
    padding: 1%;
    word-spacing: 100px;
  
}

ul {
    width: 50%;
    margin-left: auto;
    
}

.heroimg {
    height: auto;
    padding: 25px;
    text-align: center;

}

.content {
    width: 500px;
    margin: 0 auto;
}

footer {
    background-color: rgb(180, 180, 180);
    padding: 1%;
    word-spacing: 100px;
    text-align: left;
}

body {
    background-color: gray;
}

